{% extends "home.html" %}
{% block title %} Home Page 
{% endblock title%}
{% block content %}

<body style="background-color: #218B82;">


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div style="margin-top: 100px; margin-bottom: 100px;">
<center>
       
        <a class="btn btn-businesses" href="/login" role="button" style="background-color:#e9c63f; color:black">Sigin as Student</a>
           
       <a href="/tlogin" class="btn btn-businesses" style="background-color:#e9c63f; color:black">Signin up as Staff</a>
              
</center> <br>
</div>

       <br>
       <br>   
       <br>
<br>
<br>
<br>
<br>
<br>
</body>

{% endblock content %}