{% extends "home.html" %}
{% block title %} Home Page 
{% endblock title%}
{% block content %}

<body style="background-color: #218B82;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="margin-top: 100px; margin-bottom: 100px;">
<br><center>
        <a class="btn btn-businesses" href="/register" role="button" style="background-color:#e9c63f; color:black">Signup as Student</a>
           
       <a href="/tregister" class="btn btn-businesses" style="background-color:#e9c63f; color:black">Sign up as Staff</a>
</center> <br>
</div>
       <br>
       <br>   
       <br>
<br>
<br>
<br>
<br>
<br>
</body>

{% endblock content %}